*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
header nav{
    height: 10vh;
    min-height: 20px;
    background-color: #900C3F;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    align-items: center;
    letter-spacing: 3px;
}
header p{
    font-weight: bold;
    font-size: 25px;
}
header a{
    text-decoration: none;
    color: black;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}
header ul li{
    padding:5px 10px;
    background-color: lightcoral;
    border: 2px solid lightcoral;
}
header ul li:hover{
    background-color: rgb(224, 94, 94);
    border: 2px solid rgb(224, 94, 94);
}
section .container{
    background-image: url(https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    color:whitesmoke;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
section h1{ 
    font-size: 30px;
}
section p{
    padding-top: 10px;
    font-size: 20px;
}
section .resume{
    margin-top: 25px;
    padding:10px 32px;
    background-color:#48798b;
    background:linear-gradient(to bottom, #447a8d 5%, #0f7183 100%);
    border: none;
    display: flex;
    align-items: center;
    font-size: 15px;
    border-radius:8px;
    text-shadow:0px 1px 0px #254652;
    box-shadow: 0px 10px 14px -7px #244950;
    cursor:pointer;
}
section button .icon{
    padding-left: 10px;
}
section button:hover{
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#30626b;
}
footer{
    background-color: lightseagreen;
    height: 10vh;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(202, 202, 202);
    background-color: rgb(31, 31, 31);
}
.blue{
    color: black;
}
/* Contact page */
section ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    width: 200px;
}
section a{
    text-decoration: none;
    color: white;
}
/* About me page */
